@import './../../../styles/mixins';
@import './../../../styles/variables';

.user-container {
  height: 100vh;
  padding: 20px;
  background-color:$gray-light-bg;

  .title {
    font-size: 32px;
  }

  .action-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .btn-box {
      display: flex;
      gap: 20px;
    }
  }

  .table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    grid-gap: 12px;
    margin: 12px 0;

    div {
      @include text-ellipsis;
    }
  }
}
