<div class="user-container">
  <span class="title">Setting up employee accounts</span>

  <div class="action-container">
    <div class="btn-box">
      <app-button [label]="'Add'" [icon]="PrimeIcons.PLUS_CIRCLE"></app-button>
      <app-button [label]="'Unlock'" [icon]="PrimeIcons.CHECK_CIRCLE"></app-button>
      <app-button [label]="'Lock'" [icon]="PrimeIcons.TIMES_CIRCLE"></app-button>
    </div>

    <div>
      <app-button [label]="'Filter'" [icon]="PrimeIcons.FILTER"></app-button>
    </div>
  </div>

  <app-filter></app-filter>

  @for (user of usersData$ | async; track user.id) {
   <div class="table-container">
     <div>{{ user.name }}</div>
     <div>{{ user.id }}</div>
     <div>{{ user.gender }}</div>
     <div>{{ user.email }}</div>
     <div>{{ user.status }}</div>
   </div>
  }
</div>
